language: ruby

rvm:
 - 2.0.0
 - 2.1.9
 - 2.2.5
 - 2.3.1
 - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

gemfile:
  - Gemfile

sudo: false

script:
  - bundle exec rspec
  - bundle exec rubocop
