language: ruby

rvm:
 - 2.1.10
 - 2.2.10
 - 2.3.7
 - 2.4.4
 - 2.5.1
 - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

gemfile:
  - Gemfile

sudo: false

script:
  - bundle exec rspec
  - bundle exec rubocop
